// // Place all the styles related to the volunteers controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/
form {
  width: 90%;
  background-color: #99cc00;
  padding: 12px;
  margin: 8px;
}

input[type=submit] {
  padding: 12px, 20px;
  margin: 8px;
  background-color: #ff9933;
}

.volunteer {
  width: 90%;
}

.volunteers {
  padding: 2%;
  margin: 0px, 5px, 0px, 5px;
  border: 3px solid #ff9933;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ff9933;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ffe7c4;
}
