// // Place all the styles related to the volunteers controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/
form {
  width: 90%;
  background-color: #99cc00;
  padding: 12px;
  margin: 8px;
}

input[type=submit] {
  padding: 12px, 20px;
  margin: 8px;
  background-color: #ff9933;
}

.volunteer {
  width: 90%;
  border-top: thick double #99cc00;
}

.volunteers {
  padding: 2%;
  margin: 10px;
  border: 5px solid #ff9933;

}
